<%- include('partials/header') %>
        <h2>Page login</h2>
        <form action="/login" method="POST" class="form-signup">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-label-group">
                <label for="email">Votre e-mail</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                    placeholder="Votre courriel" required>
            </div>
            <div class="form-label-group">
                <label for="password">Votre mot de passe</label>
                <input type="password" class="form-control" id="password" name="password"
                    placeholder="Votre mot de passe" required>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Se souvenir de moi
                </label>
            </div>
            <button class="btn" type="submit">Se connecter</button>
        </form>
<%- include('partials/footer') %>
